<div class="form-login">
  <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email или Логин" required autofocus>
  </div>
  <div class="form-group">
    <label for="inputPassword">Пароль</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required
      aria-describedby="passwordHelpBlock">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Пароль должен содержать 6-20 символов
    </small>
  </div>
  <div class="form-group">
    <label for="inputPasswordRepeat">Повторите пароль</label>
    <input type="password" id="inputPasswordRepeat" class="form-control mb-3" placeholder="Повторите пароль" required>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
</div>